<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Thông tin cá nhân của <%= user.name%></h3>
    <ul>
      <li><%= user.id %></li>
      <li><%= user.name %></li>
      <li><%= user.age %></li>
    </ul>
    <a href="/">Go to home</a>
  </body>
</html>
